<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/connectedStyle.css">
    <script src="https://kit.fontawesome.com/458643e43a.js" crossorigin="anonymous"></script>

    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/p2c-square.png">
    <link rel="manifest" href="/manifest.webmanifest">

    <title>Partage De Cours</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/"><img src="/invertedlogo.png" alt="Logo" width="150"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            @if(user)
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a href="/cours/create" class="nav-link"><i class="fas fa-plus"></i> Nouveau Cours</a>
              </li>
              <li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-user"></i> {{ user.username }}
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/profile/{{user.username}}"><i class="fas fa-user"></i> Profil</a>
                        <a class="dropdown-item" href="/savedCours"><i class="fas fa-star"></i> Mes cours</a>
                        <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out"></i> Déconnection</a>
                      </div>
                  </li>
              </li>
            </ul>
            @else
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="/login" class="nav-link"><i class="fa fa-sign-in"></i> Se connecter</a>
              </li>
            </ul>
            @endif
        </div>
    </nav>
    <div class="container">
      @if(flashMessages.has('info-success'))
        <div class="alert alert-success" role="alert">
          {{ flashMessages.get('info-success') }}
        </div>
      @elseif(flashMessages.has('info-danger'))
        <div class="alert alert-danger" role="alert">
          {{ flashMessages.get('info-danger') }}
        </div>
      @else
        
      @endif
    </div>
    @!section('content')
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>