<footer class="jumbotron">
  Réalisé et déployé par <a href="https://erwanroussel.consulting">Erwan ROUSSEL</a> avec le soutien du lycée Saint Rémy <img src="/stremy.png" alt="Logo du lycée Saint Rémy"> de Soissons
</footer>