:root {
  --main-color: #fc6ca4;
}  

body {
  background-color: #F5F5F5;
}

.align-right {
  text-align: right;
}

.navbar {
  background-color: var(--main-color);
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-toggler {
  border: none;
  color: white;
}

.dropdown {
  left: 0;
}

.dropdown-item i {
  color: var(--main-color);
}

#home .form-inline .form-control, #home .form-inline .custom-select {
  margin: 0 5px;
}
#home .card {
  padding: 2%;
}

#home .card > .star {
  position: absolute;
  right: 3%;
  top: 2%;
  color: white;
}

#home .card> .star.activated {
  color: #f1c40f;
}

#home .card > form > button {
  background-color: white;
  border-color: var(--main-color);
  color: var(--main-color);
}

#home .card > form > button:active:focus {
  box-shadow: none;
}

#home .row .card a {
  width: 100%;
}

#profile-card {
  border-color: var(--main-color);
}

#profile-card .card-body {
  color: var(--main-color);
}

form p {
  color: red;
}